@model ConsultaCep.Web.Models.ContaModel
@{
    ViewData["Title"] = "Criar Nova Conta";
}

<link href="~/css/Conta.css" rel="stylesheet" />

<form asp-action="Create">
    <div class="container border p-3">
        <h1 class="text-primary">Criar Nova Conta</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danter"></div>

            <div class="col-2">
                <label asp-for="Nome" class="control-label pt-2 font-20"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Nome" class="form-control " />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Descricao" class="control-label pt-2 font-20"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Descricao" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="col-2 offset-2">
                <a asp-action="Index" class="btn btn-secondary form-control">Voltar</a>
            </div>

            <div class="col-2">
                <input type="submit" value="Salvar" class="btn btn-primary form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}