
<div class="modal fade" id="basicModal" tabindex="1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
				<button type="button" class="close" data-bs-dismiss="modal" value="delete" aria-hidden="true">x</button>
			</div>
			<div class="modal-body">
				Tem certeza que deseja apagar este registro?
			</div>
			<div class="modal-footer">
				<button data-bs-dismiss="modal" type="button" class="btn btn-secondary">Cancelar</button>
				<button id="btnContinueToDelete" type="button" value="delete" class="btn btn-danger">Deletar</button>
			</div>
		</div>
	</div>
</div>